.speech {
    color: black;
    font-size:smaller;
    font-family:'Times New Roman', Times, serif;
 

}
.stage-direction{
    color: black;
 font-size: small;
 font-family: monospace;
 background-color:pink;

}
.name{
    color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}
.stage-direction:hover{
    background-color: yellow;
}
.LORDGORING{
 color:blueviolet;
 /* background-color:orchid; */
 
}
.LORDGORING:hover{
    color:navy;
    filter: blur(1px);
    text-shadow: 3px 3px 3px coral; 
    border: 2px solid;
}
.JAMES{
    color:purple;
  
}

.JAMES:hover{
    color:fuchsia;
    filter: blur(1px);
    border: 2px solid;
    text-shadow: 3px 3px 3px  greenyellow;

}
.LORDCAVERSHAM{
    color:lightseagreen;
}

.LORDCAVERSHAM:hover{
    color:blue;
    filter: blur(1px);
    border: 2px solid;
    text-shadow: 3px 3px 3px palevioletred;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40%;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
table tr:nth-child(even)
{
    background-color: #f2f2f2;
}
table tr:hover
{
    background-color: #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:mediumaquamarine;
    color: white;
  }